/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-image: url('imagem_fundo.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-header {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #ffffff;           
    font-size: 36px;          
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.reset-password-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reset-password-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1em;
    color: #333;
}

input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

.logo-link {
    text-decoration: none;  
    color: inherit;         
}

.logo-link:hover {
    text-decoration: none;  
    opacity: 0.8;           
}

.error-message {
    background-color: #f8d7da;  
    color: #721c24;  
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #f5c6cb; 
}
