<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha - EZTRAVEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>
<body>
    <header class="main-header">
        <a href="{{ url_for('home') }}" class="logo-link">
            <h1 class="logo">EZTRAVEL</h1>
        </a>
    </header>
    <div class="reset-password-overlay">
        <div class="reset-password-container">
            <h1>Redefinir Senha</h1>

            {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
            {% endif %}
            <form action="/reset_password" method="POST">
                <input type="hidden" name="email" value="{{ email }}">
            
                <label for="nova_senha">Nova Senha:</label>
                <input type="password" id="nova_senha" name="nova_senha" required>
            
                <label for="confirmar_senha">Confirme a Nova Senha:</label>
                <input type="password" id="confirmar_senha" name="confirmar_senha" required>
            
                <button type="submit">Redefinir Senha</button>
            </form>
        </div>
    </div>
</body>
</html>
