<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - EZTRAVEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body>
    <div class="signup-overlay">
        <div class="signup-container">
            <h1>Cadastro</h1>
            <form action="/usuarios" method="POST">
                <label for="nome">Nome de Usuário:</label>
                <input type="text" id="nome" name="nome" required>
                
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario" name="usuario" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>
