<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso - EZTRAVEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='css/imagem_fundo.jpg') }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <header class="main-header">
        <a href="{{ url_for('home') }}" class="logo-link">
            <h1 class="logo">EZTRAVEL</h1>
        </a>
    </header>
    <div class="success-container">
        <h1>Cadastro realizado com sucesso!</h1>
        <p>Bem-vindo(a) ao EZTRAVEL! Seu cadastro foi concluído e você já pode explorar todas as funcionalidades.</p>
        
        <div class="buttons">
            <a href="{{ url_for('home') }}" class="button">Página Inicial</a>
            <a href="{{ url_for('login') }}" class="button">Login</a>
        </div>
    </div>
</body>
</html>
